name: Python

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: sdk install
      run: |
        pip install --upgrade tencentcloud-sdk-python
        pip install pyinstaller
    - name: pyinstaller
      run: |
        pyinstaller -F -i=favicon.ico music.py -n=music
        pyinstaller -F -i=favicon.ico error.py -n=error
        
#    - name: Commit and push
#      run: bash reset.sh "update app config"
        
    - name: Commit #上传新的refresh_token到仓库
      run: |
        rm -rf __pycache__
        rm -rf build
        rm -f music.spec
        rm -f music.exe.spec
        rm -f error.spec
        rm -f error.exe.spec
        git config --global user.email rurburner@gmail.com
        git config --global user.name Rcrwrate
        git add .
        git commit -m "update new bulid" -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}

