name: windows

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest

    - name: sdk install
      run: |
        pip install --upgrade tencentcloud-sdk-python
        pip install pypiwin32
        pip install pyinstaller
    - name: pyinstaller
      run: |
        pyinstaller -F -i ./favicon.ico music.py
        pyinstaller -F -i ./favicon.ico error.py
        pyinstaller -F -i ./favicon.ico once.py
        
#    - name: Commit and push
#      run: bash reset.sh "update app config"
        
    - name: Commit #上传新的refresh_token到仓库
      run: |
        rm -r -Force __pycache__
        rm -r -Force build
        rm -Force music.spec
        rm -Force once.spec
        rm -Force error.spec
        git config --global user.email rurburner@gmail.com
        git config --global user.name Rcrwrate
        git add .
        git commit -m "update new bulid" -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}

